{% extends "base.html.twig" %}

{% block title %}
	{{ titre_doc }}
{% endblock %}

{% block content %}
	<h1 class="text-center my-4">{{ titre_page }}</h1>
	<form
		action="{{ base_url }}myArticles/storeArticle" method="post" class="mx-auto w-75 mb-5" enctype="multipart/form-data">
		<!-- Titre de l'article -->
		<div class="mb-3">
			<label for="titre" class="form-label">Titre</label>
			<input type="text" class="form-control" id="titre" name="titre" required>
		</div>

		<!-- Image à la une -->
		<div class="mb-3">
			<label for="image" class="form-label">Image à la une</label>
			<input type="file" id="image" name="image" class="form-control" accept="image/*">
		</div>

		<!-- Contenu de l'article -->
		<div class="mb-3">
			<label for="contenu" class="form-label">Contenu</label>
			<textarea id="contenu" name="contenu" class="form-control" rows="10" 
			placeholder="# Titre, ## Sous-titre, **gras**, *italique*, - liste" required></textarea>

			<small class="text-muted">
				Markdown supporté : # ## **gras** *italique* listes liens
			</small>
		</div>

		<!-- Tags -->
		<div class="mb-3">
			<label for="tags" class="form-label">Tags (facultatif)</label>
			<select id="tags" name="tags[]" class="form-select" multiple>
				{% for tag in tags %}
					<option value="{{ tag.id }}">{{ tag.nom_tag }}</option>
				{% endfor %}
			</select>
			<small class="text-muted">Maintenez Ctrl (Windows) ou Cmd (Mac) pour sélectionner plusieurs tags.</small>
		</div>

		<!-- Bouton de soumission -->
		<button type="submit" class="btn btn-success">Créer l'article</button>
	</form>
</div>{% endblock %}
